<!DOCTYPE html>
<html>
<head>
    <title>Shitty UI</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        input, button {
            margin: 5px;
        }
    </style>
</head>
<body>
    <h1>Create User</h1>
<form hx-post="/user-htmx" hx-ext="json-enc" hx-target="#api-key" hx-swap="innerHTML">
    <input type="text" name="username" placeholder="Username">
    <button type="submit">Create User</button>
</form>

<h2>Enter API Key</h2>
<form onsubmit="setAPIKey(event)">
    <input type="text" id="api-key-input" placeholder="Enter API Key">
    <button type="submit">Set API Key</button>
</form>

<div id="api-key" style="display:none;"></div>

<script>
    function setAPIKey(event) {
        event.preventDefault();
        var apiKeyInput = document.getElementById('api-key-input');
        var apiKeyDiv = document.getElementById('api-key');
        apiKeyDiv.innerHTML = apiKeyInput.value;
    }
</script>
    <hr>

    <h1>Get User</h1>
    <button hx-get="/user" hx-target="#user-info" hx-swap="innerHTML">Get User</button>
    <div id="user-info"></div>

    <hr>


    <h1>Get Containers</h1>
    <button hx-get="/containers" hx-target="#containers" hx-swap="innerHTML">Get Containers</button>
    <div id="containers"></div>

    <hr>

    <h1>Delete Container</h1>
    <button hx-delete="/containers" >Delete Container</button>

    <hr>

    <h1>Trigger Container</h1>
    <form hx-post="/trigger" hx-headers='{"api-key": "{%s #api-key.innerText %}", "Content-Type": "application/json"}'>
        <button type="submit">Trigger Container</button>
    </form>
</body>
<script>
document.body.addEventListener('htmx:configRequest', (evt) => {
    evt.detail.headers['api-key'] = document.getElementById("api-key").innerText
})
</script>



